input[type=text], textarea
  font-size: 16px !important

.has-error
  label
    background-color: #fffee4

.container
  margin-top: 20px
  padding-right: 20px
  padding-left: 20px

.actions
  list-style-type: none
  margin: 0
  padding: 0
  li
    display: inline
    color: #999
    font-size: 12px
    font-weight: normal
  li + li:before
    padding-left: 5px
    padding-right: 5px
    content: '•'

.comment
  margin: 10px 60px

.creator
  color: #468847

.list
  .list-header
    color: #999

  .list-controls
    margin: 25px 0

.recently_viewed_lists
  .list_title
    font-weight: bold
  .recently_viewed_list
    display: block
    margin: 5px 0

.suggestions
  margin: 25px 0

.suggestion
  margin: 10px 0
  padding: 5px 0

  .suggestion-contents
    margin-left: 35px

  .suggestion-contents
    font-weight: bold
  .vote-button
    float: left
    padding: 5px
  .voted
    color: green

.domain_names
  .domain
    padding: 3px 0
    i
      display: inline-block
      width: 15px
      &.icon-ok
        color: green
      &.icon-remove
        color: red
  .btn
    margin: 5px 0 10px 0

.big-logo
  display: block
  font-size: 30px
  margin-top: 10px
  margin-bottom: 30px

.stats
  float: right
  .list-count
    color: #357ebd
  .suggestion-count
    color: #2a6395
    padding-left: 10px

.logo
  font-family: 'Prosto One', sans-serif
  text-shadow: 2px 2px 2px white
  .logo1
    color: #357ebd
  .logo2
    color: #2a6395
  .logo3
    color: #173752
