.panel.suggestion
  .panel-heading.suggestion-header
    %span.creator= suggestion.creator
    suggested #{time_ago_in_words suggestion.created_at} ago
  .panel-body
    .suggestion-contents= suggestion.contents
    - if suggestion.notes?
      .suggestion-notes= suggestion.notes

